# Global owners
* @richoandika

# Core library files
/pkg/ @richoandika
/internal/ @richoandika
/cmd/ @richoandika

# Documentation
README.md @richoandika
docs/ @richoandika

# CI/CD and project configuration
.github/ @richoandika
Makefile @richoandika
go.mod @richoandika
go.sum @richoandika